<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.Windows.Forms.ColorPicker" version="1.7.2" targetFramework="net45" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net45" />
  <package id="Xander.UI.Web" version="0.1.19" targetFramework="net45" />
</packages>